<% content_for :title do %>Chrysalis<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Chrysalis" data-text="A consensus-based mostly vegetarian co-op in a large old house with lots of character." data-moreinfo="2127 16th St" style="background-color:#9C4274"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chrysalis-avg-electric" data-view="Numberdate" data-title="Electric" style="background-color:#12B0C5"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chrysalis-avg-gas" data-view="Numberdate" data-title="Gas" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chrysalis-avg-rent" data-view="Number" data-title="Average Rent" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Something about Bulk Food" ></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Get to know Chrysalis by coming over for a meal. <a href="mailto:chrysalis-mc@boulderhousingcoalition.org">Email us to set it up.</a></div></center>
</div>
