<% content_for :title do %>Co-Op Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="As-salamu Alaykum" data-text="Some co-ops are better at energy consumption than others." data-moreinfo="Don't worry, in the eyes of the City of Boulder, y'all are all special."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="coops" data-view="List" data-unordered="true" data-title="Co-ops" data-moreinfo="# of housemates"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="gas" data-view="Rickshawgraph" data-title="Gas" style="background-color:#a3ddd9" data-legend="true" data-colors="#01554f:#1f837c:#48c9c0"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="electric" data-view="Rickshawgraph" data-title="Electric" style="background-color:#ff9618" data-legend="true"></div>
    </li>
  </ul>
  <center><div style="font-size: 12px">An attempt to quantify shit from your friends at <a href="http://bocha-neighbors.org">BoCHA</a></div></center>
</div>
