<% content_for :title do %>Ostara<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Ostara" data-text="A family oriented co-op, we account for nearly half the membership of the BHC co-op system!" data-moreinfo="2550 9th St" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ostara-avg-electric" data-view="Numberdate" data-title="Electric" style="background-color:#12B0C5"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ostara-avg-gas" data-view="Numberdate" data-title="Gas" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ostara-avg-rent" data-view="Number" data-title="Average Rent" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Something about Bulk Food" style="background-color:#9C4274"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Get to know Ostara by coming over for a meal. <a href="mailto:ostara-mc@boulderhousingcoalition.org">Email us to set it up.</a></div></center>
</div>
